# 파이썬 스플릿

### split
  

### split_예제

In [2]:
test1 = 'one two three four five'.split() #띄어쓰기를 기준으로 나눈후 리스트로 만들기
test1

['one', 'two', 'three', 'four', 'five']

In [3]:
test2 = 'one, two, three, four, five'.split(',') # 쉼표를 기준으로 나눈후 리스트로 만들기
test2

['one', ' two', ' three', ' four', ' five']

In [4]:
test3 = 'one, two, three, four, five'.split()#띄어쓰기를 기준으로 나눈후 리스트로 만들기
test3

['one,', 'two,', 'three,', 'four,', 'five']

In [5]:
test4 = '동해물과 백두산이 마르고 닳도록'.split()#띄어쓰기를 기준으로 나눈후 리스트로 만들기
test4

['동해물과', '백두산이', '마르고', '닳도록']

### unpacking

In [6]:
test5 = 'one two three four five'
a,b,c,d,e = test5.split()
print(a)
print(b)
print(c)
print(d)
print(e)

one
two
three
four
five

In [8]:
#갯수가 일치하지 않으면 에러가 발생
test6 = 'one two three four five'
a,b,c,d = test6.split()

ValueError: too many values to unpack (expected 4)

# 파이썬 조인

split의 반대 join


### join

string list를 하나의 string으로 만들어주는 함수
### join_예시

In [14]:
test7 = ['one', 'two','three','four','five']
test8 = ''.join(test7)#모든요소가 쭉 연결됨
test8

'onetwothreefourfive'

In [16]:
test9 = ' '.join(test7)#모든요소가 띄어스기로 연결됨
test9

'one two three four five'

In [29]:
test10 = '**'.join(test7)#모든요소가 **로 연결됨
test10

'one**two**three**four**five'

### split & join

In [31]:
test_list = ['one', 'two', 'three','four','five']

#리스트를 문자열로 띄어쓰기를 포함하여 바꾸어주기
test_join=' '.join(test_list)
test_join

'one two three four five'

In [37]:
#문자열을 리스트로 나누기
test_join.split(' ')

['one', 'two', 'three', 'four', 'five']